<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <div class="row">
        <%# Lists all posts if they exist. %>
        <h1>Applications</h1>
        <% apps.forEach(function (apps) { %>
        <br class="col-md-3">
            <br>Username: <%- user.username %></br>
            <br>Contact: <%- apps.contact %></br>
            <br>Raid Times: <%- apps.raidtimes %></br>
            <br>Roles: <%- apps.roles %></br>
            <br>Armory: <%- apps.armory %></br>
            <br>WarcraftLogs: <%- apps.logs %></br>
            <br>Lint: <%- apps.lint %></br>
        </div>
        <% }) %>
    </div>


</div>
</body>
</html>